.customCheckbox {
    cursor: pointer;
}

.customCheckbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customCheckbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    text-align: justify;
}

.customCheckbox>span::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-top: -16px;
}

.customCheckbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: rgba(23, 182, 124, 1);
}

.customCheckbox>input:not(:disabled):active+span::before {
    background-color: rgba(23, 182, 124, 1);
    border-color: rgba(23, 182, 124, 1);
}

.customCheckbox>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
}

.customCheckbox>input:checked+span::before {
    border-color: rgba(23, 182, 124, 1);
    background-image: url(../../assets/entrance/checkboxSq.png);
    background-size: 17px 17px;
}

.customCheckbox>input:disabled+span::before {
    background-color: #e9ecef;
}