@font-face {
    font-family: 'PT Root UI';
    src: local('PT Root UI Regular'), local('PT-Root-UI-Regular'), url('../../fonts/PTRootUI-Regular.woff2') format('woff2'), url('../../fonts/PTRootUI-Regular.woff') format('woff'), url('../../fonts/PTRootUI-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../../fonts/Roboto.woff2') format('woff2'), url('../../fonts/Roboto.woff') format('woff'), url('../../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.mainWindow {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.leftSide {
    width: 50%;
}

.rightSide {
    width: 40%;
    height: auto;
    background-image: url('../../assets/entrance/Group 4436.png');
    background-repeat: no-repeat;
    position: relative;
}

.rightSideReg {
    width: 40%;
    height: 100%;
    background-image: url('../../assets/entrance/DeeJ.png');
    background-repeat: no-repeat;
    position: relative;
}

.quaterRound {
    position: absolute;
    height: 315px;
    width: 315px;
    bottom: 0;
    right: 0;
    background-image: url(../../assets/entrance/Oval.png);
    opacity: 0.5;
}

.wrapper {
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.wrapper>* {
    margin-bottom: 64px;
}

.back {
    color: rgba(23, 182, 124, 1);
    font-family: 'PT Root UI';
    font-size: 16px;
    cursor: pointer;
}

h2 {
    color: rgba(91, 104, 128, 1);
}

.logoBlock, .footerBlock, .topRow {
    display: none;
}

@media (max-width: 720px) {
    .mainWindow {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }
    .leftSide {
        width: 100%;
    }
    .rightSide, .rightSideReg {
        display: none;
    }
    .topRow {
        height: 24px;
        width: 100%;
        background-color: rgba(29, 41, 63, 1);
        display: block;
    }
    .logoBlock {
        display: block;
        width: 100%;
        height: 60px;
        margin-top: 24px;
        background-image: url(../../assets/entrance/smallLogo.png);
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
        align-self: center;
    }
    .topRowText {
        position: absolute;
        width: 200px;
        height: 15px;
        left: 16px;
        top: 2px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 110%;
        text-decoration-line: underline;
        color: #FFFFFF;
        opacity: 0.6;
        cursor: pointer;
    }
    .wrapper {
        padding: 16px;
    }
    .wrapper>* {
        margin-bottom: 32px;
    }
    .objectOfRegistrationText {
        font-size: 18px;
    }
    .footerBlock {
        display: block;
        width: 100%;
        height: fit-content;
        background-color: rgba(29, 41, 63, 1);
        padding: 56px 15px;
    }
    .footerBlock>*, .footerLinks {
        color: rgba(255, 255, 255, 1);
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }
    .footerLogo {
        background-image: url(../../assets/entrance/footerLogo.png);
        height: 100px;
        background-repeat: no-repeat;
    }
    .footerLinks {
        display: block;
        font-weight: 400;
        margin-bottom: 24px;
        text-decoration: none;
        cursor: pointer;
    }
    .footerLinksBlock {
        margin-bottom: 40px;
    }
    .footerBlock>p {
        margin: 40px 0 16px 0;
        font-weight: 700;
    }
    .footerBlock>span {
        font-weight: 400;
    }
    .socialNetBlock>img {
        width: 30px;
        height: 30px;
    }
    .socialNetBlock>a {
        margin-right: 16px;
    }
    .copyRight {
        margin-top: 40px;
        font-weight: 400;
        opacity: 0.7;
    }
}

@media (max-width: 320px) {
    .mainWindow {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }
    .leftSide {
        width: 100%;
    }
    .rightSide, .rightSideReg {
        display: none;
    }
    .topRow {
        height: 24px;
        width: 100%;
        background-color: rgba(29, 41, 63, 1);
        display: block;
    }
    .logoBlock {
        display: block;
        width: 100%;
        height: 60px;
        margin-top: 24px;
        background-image: url(../../assets/entrance/smallLogo.png);
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
        align-self: center;
    }
    .topRowText {
        position: absolute;
        width: 200px;
        height: 15px;
        left: 16px;
        top: 2px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 110%;
        text-decoration-line: underline;
        color: #FFFFFF;
        opacity: 0.6;
        cursor: pointer;
    }
    .wrapper {
        padding: 16px;
    }
    .wrapper>* {
        margin-bottom: 32px;
    }
    .objectOfRegistrationText {
        font-size: 18px;
    }
    .footerBlock {
        display: block;
        width: 100%;
        height: fit-content;
        background-color: rgba(29, 41, 63, 1);
        padding: 56px 15px;
    }
    .footerBlock>*, .footerLinks {
        color: rgba(255, 255, 255, 1);
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }
    .footerLogo {
        background-image: url(../../assets/entrance/footerLogo.png);
        height: 100px;
        background-repeat: no-repeat;
    }
    .footerLinks {
        display: block;
        font-weight: 400;
        margin-bottom: 24px;
        text-decoration: none;
        cursor: pointer;
    }
    .footerLinksBlock {
        margin-bottom: 40px;
    }
    .footerBlock>p {
        margin: 40px 0 16px 0;
        font-weight: 700;
    }
    .footerBlock>span {
        font-weight: 400;
    }
    .socialNetBlock>img {
        width: 30px;
        height: 30px;
    }
    .socialNetBlock>a {
        margin-right: 16px;
    }
    .copyRight {
        margin-top: 40px;
        font-weight: 400;
        opacity: 0.7;
    }
}