.noAcc, .regAcc {
    color: rgba(29, 41, 63, 1);
}

.noAcc {
    margin-right: 8px;
}

.regAcc {
    font-weight: 700;
    text-decoration: none;
}

@media (max-width: 320px) {
    .noAcc, .regAcc {
        font-size: 15px;
    }
}